[2017-08-23 07:23] mouth4war opened #1 "mirobo 0.1.3 exceptions breaking the lights"
So I updated mirobo to 0.1.3 on my pi and ever since, there are new exceptions in the HASS log and the lights go to unknown state in the UI.

https://pastebin.com/QH9Jx6DG

    state = self.light.status()
  File "/home/homeassistant/.homeassistant/custom_components/light/philipslight.py", line 112, in light
    from mirobo import Ceil
ImportError: cannot import name 'Ceil'

[2017-08-23 07:45] #1 closed

[2017-08-23 07:46] syssi commented on #1
If the include called "Ceil" is missing a mirobo-python version < 0.1.3 is used. mirobo-python 0.1.3 is required.

[2017-08-23 08:06] mouth4war commented on #1
Yes, I had recently updated HASS and that overwrote my locally modified xiaomi vacuum component to require 0.1.2 again. Fixed by changing that to 0.1.3. Thanks!

[2017-08-23 08:13] syssi commented on #1
In future the components using python-mirobo are in sync. The official component will be called xiaomi_philipslight. Just follow: https://github.com/home-assistant/home-assistant/pull/9087

[2017-09-03 05:24] syssi opened #2 "Support of new property names (next mirobo release)"
https://github.com/rytilahti/python-mirobo/commit/516c692be67345e1b2327021ccfbbdca7d310998

A bunch of properties was renamed.

[2017-09-03 06:41] syssi commented on #2
Fixed with https://github.com/syssi/philipslight/commit/de6fcfa73c07d08404e1685cae783ad76ac74c98.

[2017-09-03 06:41] #2 closed

[2017-09-24 18:08] buikdaanser opened #3 "Add support for Xiaomi Philips Eyecare Smart Lamp 2"
@syssi Please add support for Xiaomi Philips Eyecare Smart Lamp 2.
It is already supported [upstream](https://github.com/rytilahti/python-mirobo) and is working fine on the command line via the same python-mirobo. Next step should be integration into the home assistant panel.

Easy peasy for you as expert :)

Thanks.

[2017-09-25 06:27] syssi commented on #3
If you care about some testing I will implement the additional device soon!

[2017-09-25 11:38] buikdaanser commented on #3
@syssi sure, I have a test raspberry all in one (home assistant) ready for liftoff.
Lets start with power on, power of.

[2017-09-26 19:08] syssi commented on #3
The current implementation should support turning the lamp on and off already. Just give it a try!

[2017-09-26 20:29] buikdaanser commented on #3
Great.
I've tried it, but unfortunately I have to report to you that it does not work.
Has been tried with Hass.io: Supervisor 0.64, Host OS 1.1, Home Assistant 0.54.

Because [Xiaomi_miio.py](https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/light/xiaomi_miio.py) from home assistant seems to be almost the same.

Controlling via the light via python-mirobo 0.2.0 on

[2017-09-27 06:22] syssi commented on #3
You are right. The update method isn't compatible. Could you provide the output of:

[code]
Thanks!

[2017-09-27 10:55] buikdaanser commented on #3
Switched back to Raspberry All in one as Hass.io is to closed to test it open and easy.
Please note that Github is an open platform, so I anonymized the token.
If, for whatever reason, you need the real one. Please let me know.

These are the results:

mirobo --ip 12.12.12.16 --token ea9405da516b567327f7ccd379116c14 raw_command set_power '["off"]'

[code]
Again to verify whether the error message

[2017-09-27 11:23] syssi commented on #3
Thanks! The token isn't important.

[2017-09-28 19:54] buikdaanser commented on #3
Ok. Thanks for the clarification.
Looking forward to your Xiaomi Philips Eyecare Smart Lamp 2 implementation.

[2017-10-12 13:58] syssi commented on #3
Could you please test the current development branch: https://github.com/syssi/philipslight/tree/develop

[2017-10-12 21:20] buikdaanser commented on #3
Tested.
Sorry to report but it does not work.
No activity or what so ever on the home assistant states screen.

Error log:

[code]

Config:

[code]

[2017-10-13 09:16] syssi commented on #3
Alright. I remember again...  I'm waiting for a release of python-mirobo/python-miio. The component needs some fixes of the underlying library.

[2017-10-13 21:30] buikdaanser commented on #3
Ok. Is there a development version of python-mirobo available?

[2017-10-21 09:29] syssi commented on #3
python-miio 0.3.0 was released tonight. The new release of the custom component supports your device!

[2017-10-21 09:29] #3 closed

[2017-11-05 18:59] mouth4war opened #4 "Feature Request: Transition"
Hey syssi, Are you planning on adding transition? Anything I can do to help?

[2017-11-05 19:06] buikdaanser opened #5 "Add control option for the second light unit of the Xiaomi Philips Eyecare Smart Lamp 2"
The Xiaomi Philips Eyecare Smart Lamp has two light units.
As shown in the attachment below.

Please add a function to control the second light unit on the back of the lamp.
To operate (on-off) as second light independently of light one.

https://static.afbeeldinguploaden.nl/1711/334447/37pvJEiU.jpg

[2017-11-05 19:08] syssi commented on #4
The device doesn't provide predefined transitions and the communication is too slow for manual transitions.

[2017-11-05 19:38] syssi commented on #5
Could you test some API calls and provide some visual feedback? I don't own the device therefore the implementation depends on your feedback.

[2017-11-05 21:53] buikdaanser commented on #5
Sure.
I'm not a programmer, but I think that should not be a problem.
Of course there is no hurry. We'll see how much we get?

[2017-11-12 14:45] matsube11 opened #6 "Feature request: Xiaomi Philips ceiling light - use of set_scene in automation"
Finally I hope to have created this in the right place :)

Could you please implement the set_scene option for the Xiaomi Philips ceiling light:

e.g:
action:
  - service: light.turn_on
    entity_id:
    - light.xiaomi_philips_smart_led
    data:
      set_scene: 4

The command line works fine:
miceil --ip 192.168.X.XX --token XXXXXXXXXXXXXXXXXXXXXX set_scene 4

Thanks

[2017-11-12 22:38] mouth4war commented on #4
Ah. Makes sense. Thanks!

[2017-11-26 13:50] syssi commented on #5
Could you please test the following commands and provide some feedback:

[code]

Thanks in advance! If the behavior of the lamp is known the implementation will be easy.

[2017-11-30 00:40] buikdaanser commented on #5
Thanks.
The results can be shown as follows:

mieye --ip your-eyecare-ip --token your-token on
mieye --ip your-eyecare-ip --token your-token off
# Which light source turns on/off?

If light 1 is on, light 1 gets off.
If light 1 is on, and light 2 is on, both are on and off.

But. The lamp saves the last setting.
For example. If 2 light were on before the lamp was last turned off.
2 lights will go

[2017-11-30 08:31] syssi commented on #5
Did I understand your description correctly:

1. The command "bl_on", "bl_off" doesn't have any effect? Does it return "[ok]" nevertheless?
2. Light 1 and light 2 cannot controlled (toggled) independently? What's the command to achieve this state: "light1 on, light2 off" vs. "light1 off, light2 on". We need to know the previous state always, right?

[2017-11-30 14:17] buikdaanser commented on #5
1. Yes it does return. Night Light On: ['ok']
If the lamp is off completely nothing happens, lamp stays off.
If the lamp is on, nothing visually changed.
2.  It seems indeed that the last institution is remembered.

The  secondary light 2 seems to be connected to light 1 on the on switch but not off switch.
For example the start situation; The lamp is completely off.

The command "ambient_on" ensu

[2017-12-14 02:15] buikdaanser commented on #5
If you want to know something else, I'd love to hear it.

[2017-12-17 20:06] michel72 commented on #5
@buikdaanser

Could you be so kind to help me on my way getting this light to work in HA?

I have extracted the key using the iphone backup method, git this key (slightly modified):

`eb6d34d06b5117af2269c7fb8073baada432c5dec773793391a5ff4e136a12500143db63ee66b0cdff9f69917680151e`

Which I then converted on my macbook using terminal command:

`echo '0: eb6d34d06b5117af2269c7fb8073baada432c5dec7737

[2017-12-18 22:38] buikdaanser commented on #5
@michel72
I do not own an iPhone.
In terms of extracting and converting iPhone keys, I don't know.

About the Xiaomi Philips Eyecare Smart Lamp 2.
Seems you are using the old python-mirobo and /or trying to command the Xiaomi vacuum cleaner.

Please make sure that you are running the latest python-miio software.
Afterwards you could start controlling your lamp by:

`mieye --ip your-eyecare-ip --to

[2017-12-19 10:21] michel72 commented on #5
Hi,

[code]
I'll try extracting the key again using a borrowed android phone.

[2017-12-19 19:54] michel72 commented on #5
Hi,

I extracted the token using an android phone which looks like:

[code]

However.....

[code]

Is there something else I could try?

Thx,

Michel

[2017-12-19 22:17] buikdaanser commented on #5
Are you sure that you don't have an router that blocks the connection (i.e. firewall),
About python-mirobo? Does it work well with other devices?

[2018-01-20 19:46] #6 closed

[2018-01-24 18:29] 12nick12 opened #7 "Not working"
Rasbian Stretch

  File "/home/hass/.homeassistant/custom_components/light/xiaomi_philipslight.py", line 45, in async_setup_platform
    from miio import Device, DeviceException
  File "/srv/hass/lib/python3.5/site-packages/miio/__init__.py", line 2, in <module>
    from miio.protocol import Message, Utils
  File "/srv/hass/lib/python3.5/site-packages/miio/protocol.py", line 179, in <module>
    C

[2018-01-24 18:32] syssi commented on #7
Please use the official HA component (light.xiaomi_miio).

[2018-01-24 18:33] 12nick12 commented on #7
OK. Thank you. That one isn't working either lol. Have a great day :-)

[2018-01-24 19:17] syssi commented on #7
Oh, you are right. Please update python-miio (the underlyint library) or use the dev branch of home assistant.

[2018-01-24 19:27] 12nick12 commented on #7
Would you happen to know how to switch to the device branch?

On Jan 24, 2018 2:17 PM, "Sebastian Muszynski" <notifications@github.com>
wrote:

[2018-01-24 20:29] 12nick12 commented on #7
I updated the python-miio and now I'm getting another error

[code]

[2018-01-24 20:38] syssi commented on #7
What's the product name of your device? Do you use the correct token?

[2018-01-24 20:40] 12nick12 commented on #7
Thank you for your help btw. I made a issue on hass github and they've yet to get back to me. It's the Phillips LED Light Fixture. And I'm pretty sure because from the dump I have 2 tokens. One would be the gateway and the other is this device. If I use one I get the error that this device isn't supported. The other ones returns this error.

[2018-01-24 21:36] 12nick12 commented on #7
Changing to dev branch fixed it.

[2018-01-24 21:36] #7 closed

[2018-01-25 07:33] syssi opened #8 "Provide the scene as attribute"

[2018-01-25 08:10] syssi opened #9 "Support an unavailable state if the device isn't reachable"
https://community.home-assistant.io/t/xiaomi-philips-light-behavior-when-not-available/32022/12

[2018-01-25 15:36] buikdaanser commented on #5
@syssi any progress on this one?

[2018-01-25 16:03] syssi commented on #5
Jep! I started yesterday and will be ready next Werk!

[2018-01-26 18:15] buikdaanser commented on #5
Great! Thanks.

[2018-01-26 18:34] syssi commented on #5
Do you agree it doesn't make sense to implement the second light ("light 2") as light entity in home assistant because we are unable to turn on and off light 2 independently? I will provide a service per method.

[2018-01-26 18:37] syssi commented on #5
If you use the mihome app it's possible to control both lights independently and ignore the saved state?

[2018-01-26 20:03] syssi commented on #5
Please check out the develop branch and give it a try. It can be used as custom_component and will override the official light.xiaomi_miio component: https://github.com/syssi/philipslight/archive/develop.zip

[2018-02-03 13:42] neives opened #10 "Unable to find component light.xiaomi_philipslight"
Hi,
I tried this, but can't get it to work. I'm using 2 Xiaomi Philips LED Ball Lamp.
Copied xiaomi_miio.py to /home/homeassistant/.homeassistant/custom_components/light and configured yaml like this:

  - platform: xiaomi_philipslight
    name: Luz Escritorio
    host: 10.0.0.118
    token: !secret xiaomi_philips_escritorio

  - platform: xiaomi_philipslight
    name: Luz Quarto
    host: 10.0.0.

[2018-02-04 20:05] syssi opened #11 "Inconvenient brightness mapping"
[1,255] -> [1,100]

Some low values are mapped to zero brightness.

[2018-02-05 07:28] #8 closed

[2018-02-13 22:23] #9 closed

[2018-02-13 22:24] #10 closed

[2018-02-13 22:31] #11 closed

[2018-02-13 22:32] syssi commented on #5
@buikdaanser Any progress on testing this one? ;-)

[2018-02-15 15:30] buikdaanser commented on #5
Thanks.
Was on vacation and became ill on return.
I look at it as quickly as possible.

[2018-02-26 06:31] syssi commented on #5
@buikdaanser Do you own a rooted android device? I would like to request some data (mihome plugin apk). I will provide instructions on demand.

[2018-02-26 09:20] syssi commented on #5
I'm pretty sure now: The lights can be controlled independently:

[code]

Is the main light controllable with this commands?

[2018-02-28 19:50] syssi commented on #5
The device is represented as two light entities now (eyecare light, ambient light). The feature is untested!

[2018-02-28 19:50] #5 closed

[2018-03-12 18:06] kuzyaka opened #12 "Extend platform services list"
Hi

Is it possible to add light.xiaomi_miio_set_brightness / set_color_temperature services in order to control these parameters using automation?

I used these features successfully via "miceil" shell command for both philips.light.ceiling and philips.light.zyceiling

[2018-03-12 18:58] syssi commented on #12
This is already possible. Just use the light.turn_on and provide some arguments (brightness, colortemp).

[2018-03-13 04:47] kuzyaka commented on #12
Thank you

[2018-03-13 04:47] #12 closed

[2018-04-05 13:26] yueqiumao opened #13 "philips.light.mono1"
philips.light.mono1

[2018-04-05 13:29] syssi commented on #13
@yueqiumao Could you provide a link to the product?

[2018-04-06 13:24] mouth4war commented on #4
Save me from the indignity of using a python script to manually transition the lights :)

[2018-04-06 13:31] syssi commented on #4
Give me some time. It isn't an easy task.

[2018-04-08 19:45] syssi commented on #13
I don't know anything about the device. It's the first generation of the desk lamp, right?

This commit should introduce a basic device support: https://github.com/syssi/philipslight/commit/6f509366757c8e28660873b6e38270e92faec27a

[2018-04-12 11:02] yueqiumao commented on #13
https://www.mi.com/desklamp/

[2018-04-12 11:13] syssi commented on #13
4000K neutral light.

[2018-06-12 12:47] buikdaanser commented on #5
@syssi due to a ski accident (broken leg), I could not respond earlier. I can respond at least now. Thanks for your feature.

[2018-07-12 18:23] ardeus-ua opened #14 "Philips Zhirui Bedside Lamp"
Here's how it was recognized by miio: philips.light.moonlight

Let me know what else is needed to add it to the list of the supported devices,
Thanks

[2018-07-12 18:24] #14 closed

[2018-07-12 18:24] ardeus-ua commented on #14
duplicate

[2018-08-06 13:56] and217 opened #15 "philips.light.zysread"
https://youpin.mi.com/detail?gid=101802

[2018-08-06 13:57] and217 opened #16 "philips.light.moonlight"
https://youpin.mi.com/detail?gid=102761

[2018-08-10 15:53] #13 closed

[2018-08-27 13:10] ardeus-ua commented on #16
Support for this lamp is already in the lib called python-miio. What’s temporary missing is an update in HA component. Just wait till @syssi will add it there for the device to be properly recognized.

[2018-09-08 14:36] speedy-beaver commented on #16
Opened a [pull request](https://github.com/syssi/philipslight/pull/17) to add basic philips.light.moonlight support.

[2018-09-25 10:56] iFloris commented on #16
Thanks @speedy-beaver I hope that @syssi can find some time to implement it soon! 😄

[2018-11-11 13:40] Dr0n75 opened #18 "philips.light.downlight"
https://youpin.mi.com/detail?gid=102762

[2018-11-12 09:37] #18 closed

[2018-11-12 09:41] syssi commented on #16
The Philips Moonlight Bedside Lamp is supported now. Please give it a try!

[2018-11-12 10:13] ardeus-ua commented on #16
2018-11-12 12:11:07 ERROR (MainThread) [homeassistant.components.light] Error while setting up platform xiaomi_miio
Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.7/site-packages/homeassistant/helpers/entity_platform.py", line 128, in _async_setup_platform
    SLOW_SETUP_MAX_WAIT, loop=hass.loop)
  File "/usr/local/lib/python3.7/asyncio/tasks.py", line 412, in wait_for

[2018-11-14 06:44] syssi commented on #16
@ardeus-ua I updated the python-miio requirement. Version is 0.4.3 is required.

[2018-11-14 07:24] syssi opened #19 "Improve philips.light.mono support"
*2222.apk*

Properties: power, bright, notifystatus, notifytime, scene_num

Methods: get_adjust_status, set_lux <int>, start_adjust, set_user_scene, set_notifyduration <int>, set_notifyuser, set_bright, set_power, set_second_lux <int>

[2018-11-14 07:53] syssi commented on #15
It looks like the device is similar to the Eyecare 2 lamp. You could try the configuration for testing:

[code]

If the device behaves like a "sread1" I will extend the component.

[2018-11-14 08:06] ardeus-ua commented on #16
@syssi It gives me the same error with dependency updated

[2018-11-14 10:43] syssi commented on #16
Uh. I will try to reproduce the issue. Sorry for the hassle.

[2018-11-14 15:36] syssi commented on #16
@ardeus-ua I've found the cause. Please update the custom component and try again. If the component works fine I will prepare a pull request for official Home Assistant support.

[2018-11-14 15:59] ardeus-ua commented on #16
@syssi Here’s what I got with the latest version
Wed Nov 14 2018 17:56:09 GMT+0200 (EET)

xiaomi_miio: Error on device update!
Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.7/site-packages/homeassistant/helpers/entity_platform.py", line 251, in _async_add_entity
    await entity.async_device_update(warning=False)
  File "/srv/homeassistant/lib/python3.7/site-packages/ho

[2018-11-14 16:06] syssi commented on #16
@ardeus-ua Fixed! :-)

[2018-11-14 16:15] ardeus-ua commented on #16
@syssi here’s the fresh one

Wed Nov 14 2018 18:14:13 GMT+0200 (EET)

xiaomi_miio: Error on device update!
Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.7/site-packages/homeassistant/helpers/entity_platform.py", line 251, in _async_add_entity
    await entity.async_device_update(warning=False)
  File "/srv/homeassistant/lib/python3.7/site-packages/homeassistant/helpers/

[2018-11-14 17:07] ardeus-ua commented on #16
Added util.color to imports, changed procedure call in line 829 and after the restart HA created the entity, but I cannot turn it on. Here’s the entity attributes json

{
  "min_mireds": 153,
  "max_mireds": 588,
  "model": "philips.light.moonlight",
  "scene": 0,
  "delayed_turn_off": null,
  "sleep_assistant": 0,
  "sleep_off_time": 0,
  "total_assistant_sleep_time": 15,
  "brand_sleep": true,

[2018-11-14 18:23] syssi commented on #16
Are you able to control the light by python-miio (`miiocli moonlight`)?

[2018-11-14 18:35] syssi commented on #16
@ardeus-ua I've changed some lines. Please try again! :-)

[2018-11-14 20:51] ardeus-ua commented on #16
@syssi now i can switch it on, change color temp and brightness. Features like mode are not appearing. Can it be because of the features set configuration inside the custom component?

[2018-11-14 21:31] ardeus-ua commented on #16
@syssi, not at all. I’ve noticed parts of the code. Will wait till it happen. Thanks for the current implementation

[2018-11-15 06:15] syssi opened #21 "Add RGB support to the Moonlight"

[2018-11-15 06:16] #16 closed

[2018-12-08 09:35] syssi commented on #21
Added.

[2018-12-09 20:04] syssi commented on #21
@jake661 You've reported the following issue: Setting color failed: {'code': -5001, 'message': 'param error'}

Thanks for your support! Could you enable the debug output of the component and provide some logs? I'm looking for the miIO request `set_rgb` and your response (`param error`):

Just enable the logger:

[code]

And provide the content of your home-assistant.log

[2018-12-10 15:43] jake661 commented on #21
Glad to help, thanks for your work! I'm attempting to set the color using the native HA color.py utility. Curious if sertting the color this way is supported? Here is the requested debug log output:

Screenshot of color.py utility:
![image](https://user-images.githubusercontent.com/37418474/49742737-01a46600-fc4e-11e8-94de-d86ba36d45e4.png)

[2018-12-10 22:02] syssi commented on #21
This is a bug! I will care about.

[2018-12-11 07:34] syssi commented on #21
I've fixed the log message. Could you update this configuration to:

[code]

I'm looking for this lines:

[code]

[2018-12-11 20:20] jake661 commented on #21
Thanks for looking into this. Here are the requested debug logs:

    2018-12-11 12:14:08 DEBUG (MainThread) [custom_components.light.xiaomi_miio] Setting color: (0, 127, 255)
    2018-12-11 12:14:08 DEBUG (SyncWorker_8) [miio.device] 192.168.29.8:54321 >>: {'id': 18, 'method': 'set_rgb', 'params': [32767]}
    2018-12-11 12:14:08 DEBUG (SyncWorker_8) [miio.device] 192.168.29.8:54321 (ts: 1970-01-

[2018-12-11 20:45] syssi commented on #21
Cool. I know what's going on here. Could you try to control the light by the `miiocli` command line tool (part of python-miio: `pip3 install python-miio`):

[code]

Please provide the output of each command.

[2018-12-11 21:08] jake661 commented on #21
Here you go:

    miiocli device --ip IP --token TOKEN raw_command get_prop "['rgb']"
    Running command raw_command
    [15731455]

    miiocli device --ip IP --token TOKEN raw_command set_rgb "[255,255,255]"
    Running command raw_command
    ['ok']

    miiocli device --ip IP --token TOKEN raw_command get_prop "['rgb']"
    Running command raw_command
    [16777215]

    miiocli device --ip I

[2018-12-11 21:35] jake661 commented on #21
Excellent, confirmed working now! Thanks again!

[2018-12-12 07:00] syssi commented on #21
Awesome!

[2018-12-12 07:00] #21 closed

[2018-12-16 11:28] AsWaM opened #22 "Feature request: philips.light.moonlight"
Hello,

I have the following message in home assistant:

Unsupported device found! Please create an issue at https://github.com/syssi/philipslight/issues and provide the following data: philips.light.moonlight

I am a developper myself, and could help if needed.

Alex

[2018-12-16 11:54] syssi commented on #22
Please update the custom component to the development version (branch: develop)! The device is already supported.

[2018-12-23 19:11] AsWaM commented on #22
Hello, thanks for your help.
I am noob to python and virtual envs, (i am .NET dev), so I don't know how to install the dev branch.

Went in my virtual env, ran this
` pip3 install https://github.com/syssi/philipslight/archive/develop.zip`
the result was
`Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Collecting https://github.com/syssi/philipslight/archive/develop.zip

[2018-12-23 23:40] syssi commented on #22
Please download & extract this file: https://github.com/syssi/philipslight/archive/develop.zip

Place the "custom_components" folder (incl. content) into your config directory. On hassbian the directory structure looks like this:

[code]

On hass.io it should be something like this:

[code]

Restart Home Assistant and try to control the moonlight.

[2018-12-27 08:57] AsWaM commented on #22
Hello, and merry christmas!
Works perfectly, thank you very much :)

Il will try to use the sleep assistant and sleep off time features when I go back from holidays.

Thanks Again

[2018-12-27 09:04] syssi commented on #22
I would be happy if you provide some details (example values, mihome settings -> moonlight behavior) about the sleep assistant & sleep off time features. Thanks in advance!

[2018-12-27 09:10] AsWaM commented on #22
Of course, will do this either next weekend or the first week of january

[2019-02-05 06:57] syssi commented on #22
@AsWaM Do you own a Miband?

[2019-02-05 06:58] AsWaM commented on #22
Yes, a miband 3

[2019-02-05 07:03] syssi commented on #22
The property should be miband related. If you enable the "miband dependend turn off" the brand_sleep property should be `true`. If you don't use the feature it's `false`.

[2019-02-06 10:52] AsWaM commented on #22
@syssi you were right, this is MiBand Related
brand_sleep -->  Auto power off with MiBand when asleep
brand -->  Auto power on/off when miband is close
sleep_off_time  --> remaining time before countdown ends (minutes)  --> set to 0 if sleep mode deactivated
total_assistant_sleep_time --> original countdown time (minutes)

[2019-02-11 11:54] frkos commented on #22
Hello, I've found some issues related to the scenes. HA allows 1,2,3 and 4 only.
But when I chose midnight theme from MI home, it shows as "6" in HA
When I chose music mode, in HA i have the error below:

[2019-02-11 19:00] syssi commented on #22
@frkos How did you choose the "music mode"?

[2019-02-11 19:03] syssi commented on #22
@frkos If you change this line in HA

https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/xiaomi_miio/light.py#L91

Is scene 5 and 6 available/usable via the `set_scene` service?

[2019-02-11 20:46] frkos commented on #22
Music mode is the colored button at the bottom of mi home.
![smartselect_20190211-234200_mi home](https://user-images.githubusercontent.com/47523946/52592135-a877cf00-2e56-11e9-8990-1ad161091400.jpg)

I have hass.io installation with doker. So I've set up ssh, connected to hassio.local, but couldn't find components folder to amend the file ((( If you let me know your to do this, I will be glad to

[2019-02-12 06:48] syssi commented on #22
Provide some testing on docker setups is hard. Could you install `python-miio` (`pip3 install python-miio`) on your desktop and provide some output of the `miiocli` command line interface?

[2019-02-12 09:20] frkos commented on #22
Here it is... Sorry for the screenshot, I'm doing it from my cell phone 😬
Is it what you need?
![screenshot_20190212-121545_photo editor](https://user-images.githubusercontent.com/47523946/52624722-6b482700-2ec0-11e9-95a5-90097b5954b1.jpg)

[2019-02-12 20:02] syssi commented on #22
Perfect! Please try:

[code]
Does it work?

[2019-02-12 20:43] frkos commented on #22
Unfotunately, for apply_ I have param err, so i tried other options, but with timeout error((
Is it possible to increase it? BTW info, on,off... works, but not the raw_command
![screenshot_20190212-233414_termux](https://user-images.githubusercontent.com/47523946/52666644-ebea4000-2f1f-11e9-854e-6d9fbe8a1c58.jpg)

[2019-02-13 06:21] syssi commented on #22
It looks like you missed a space between property (`set_fixed_scene`) and the new value (`"['1']"`). You could enable the deboug output of miiocli by `-d` to get more insights / details.

[2019-02-13 06:49] frkos commented on #22
Done... But with rhe same UART timeout error(
![screenshot_20190213-093943_termux](https://user-images.githubusercontent.com/47523946/52691973-9f305480-2f73-11e9-873a-2376166a039c.jpg)

But set_scene without raw_command works. Of course, just for 1-4 options
![smartselect_20190213-094550_termux](https://user-images.githubusercontent.com/47523946/52692188-457c5a00-2f74-11e9-8dab-71d4c50c56ec.jpg)

[2019-02-13 06:59] syssi commented on #22
Next try:

[code]

[2019-02-13 07:30] frkos commented on #22
Now it works for all scenes except 6. Also get_prop 'scene' doesn't work. But it works for get_prop 'status'... I think 'scene' is not available property name (
![smartselect_20190213-102354_termux](https://user-images.githubusercontent.com/47523946/52694156-db66b380-2f79-11e9-9f2f-3d46024d45d2.jpg)

Also i confirm, that scene 5 is 'scrreen reading' from mi home app. And when I chose 'midnight' in

[2019-02-15 08:08] syssi commented on #22
Okay. Could you try to enable the night light by:

[code]

[2019-02-15 08:47] frkos commented on #22
Looks like it's not for scene 6... Also i tried "['on']" and "[1]" but with the same result
![smartselect_20190215-114154_termux](https://user-images.githubusercontent.com/47523946/52845096-48fc1680-3117-11e9-972b-c954bed254bd.jpg)

[2019-02-15 09:03] syssi commented on #22
Could you try
[code]
too?

[2019-02-15 09:32] frkos commented on #22
And now it works!
As I'm doing it remotely, I can check the lamp itself in the evening only. But HA shows scene 6 and Mi Home shows midnight scene. So it definitely works.

I tried go_music randomly and it works too - MI home opens music mode screen.
So as I understand,  the only promblem is that HA expects scene as int, and crashes while revive str 'music mode'. Maybe in the code it's pissible to

[2019-02-15 13:25] syssi commented on #22
Do you already know how to disable the night mode again? What happens if you select another scene or if you change the brightness.

Enable music mode: go_music "[]"
Disable music mode: exit_music "[]"
Music mode property: get_prop "['ms']"

If the music mode is enabled we are unable to retrieve/update the properties? The `get_prop` call returns "music mode" always?

[2019-02-15 14:13] frkos commented on #22
As for night mode, there are no issues. If I set another scene via set_scene I see the scene changed to the new one. If I change brightness, scene becomes 0, which is expected. I tried this both from miiocli and HA application. Works well

But with music mode we have problems, as HA can't handle  'text' in scene, and drops an error for any command. So the only option is to disable it in Mi Home di

[2019-02-15 15:30] syssi commented on #22
This is fine. The "music mode" isn't handled right now. The Mi Home app skips all `get_prop` calls/results if the music mode is active.

[2019-02-15 15:36] frkos commented on #22
Got it.
Let me know if I can provide something more. And thanks!

[2019-02-16 19:02] jokerigno commented on #22
Hi all,

I'm also using moonlight lamp and using mii it works like a charm. But how can I use in HA?

I've tried with light.xiaomi_miio_set_scene "6" on dev console but the results is scene 4.

Thank you in advance

[2019-02-17 08:39] syssi commented on #22
@frkos Could you tell me the meaning/name of "scene 5"?

[2019-02-17 08:45] syssi commented on #22
@jokerigno The night mode (scene 6) will be supported soon.

[2019-02-17 09:54] frkos commented on #22
Hi @syssi
Scene 5 is 'Screen Reading'. It's just a bit warm static light
![screenshot_20190217-125056_mi home](https://user-images.githubusercontent.com/47523946/52911308-0d964f00-32b3-11e9-90b0-17e667365f14.jpg)

[2019-02-18 18:34] syssi commented on #22
@frkos Please update the custom component. The component handles/ignores the music mode now.

[2019-02-19 14:29] frkos commented on #22
Wow... you added color picker)) and it works!
Set scene works for sscenes 1-4. If I try to set 5 or 6 it sets 4

When I set music mode in Mi Home I still see errors in logs. Also I can't set another scene from HA
But now I can turn it off and then on in HA.

[2019-02-19 15:18] syssi commented on #22
This is strange. I tried to catch this exception. I will check it again.

[2019-02-22 16:49] jake661 commented on #22
@syssi Thanks for your work on this, also happy to assist with any testing for this enhancement.

[2019-02-26 22:13] mouth4war opened #23 "Handle invalid color temperature"
Hi @syssi, the component throws exception when invalid color temperature is used in turn_on.

[code]

[2019-02-27 07:27] syssi commented on #23
This is fine for me. What do you expect?

[2019-03-22 19:59] syssi commented on #22
The music mode should be handled properly now. :-)

[2019-03-23 16:59] syssi commented on #23
I prefer the current behavior: Invalid values shouldn't be accepted.

[2019-03-23 16:59] #23 closed

[2019-09-08 10:58] jiagangxu opened #24 "request support for philips.light.zystrip"
2019-09-08 18:37:04 ERROR (MainThread) [homeassistant.components.xiaomi_miio.light] Unsupported device found! Please create an issue at https://github.com/syssi/philipslight/issues and provide the following data: philips.light.zystrip
Could you guys help to support the strip light? It should be technically possible according to https://www.openhab.org/addons/bindings/miio. Appreciate your help!

[2019-09-22 23:37] maximalexanian commented on #15
Thank you for suggestion. Yes, it works fine with philips.light.zysread

[2019-09-30 13:07] misterymisery opened #25 "Xiaomi Philips Eyecare 2nd Generation"
After few hours (let say they stop to work overnight) touch buttons on lamp are locked and only lamp restart fix this. After restart they are good again for few hours. Any way to fix this?

[2019-10-26 14:33] forhuan opened #26 "philips.light.bceiling2"
https://item.mi.com/product/10150.html?cfrom=search&selected=1192600006&pClass=c

[2019-10-27 03:07] terenceng81 opened #27 "Google Home is not able to detect XIaomi Philips Downlight if it is unavailable"
Hi syssi,

I am encountering an issue that Google Home is not able to detect unavailable Xiaomi-Philips downlight.

I turn the downlight on then it is able to detect and then I assigned to a room.

After that, I turn off the downlight (HA will show unavailable for downlight), and then turn it on again.

At this time, Google Home will detect this downlight again, somehow Google Home treats it as a

[2019-10-27 05:13] syssi commented on #27
Could you provide your configuration.yaml of the component? Did you set the "model" there?

[2019-10-27 06:55] terenceng81 commented on #27
Yes, I did set the model. anything wrong with the configuration?

light:
  - platform: xiaomi_miio_philipslight
    name: Philips Altar Downlight
    host: 192.168.8.177
    token: f9d6b085ad6b964db0d3958107761386
    model: philips.light.bulb

  - platform: xiaomi_miio
    name: Altar Downlight
    host: 192.168.8.177
    token: f9d6b085ad6b964db0d3958107761386
    model: philips.light.bulb

[2019-10-27 06:57] terenceng81 commented on #27
I should try it with "model: philips.light.downlight" instead of "philips.light.bulb", right?

[2019-10-27 08:25] syssi commented on #27
Do you own the device and are you able to provide some testing? I would like to implement/support the device.

[2019-10-27 08:26] syssi commented on #27
Yes the model is called `philips.light.downlight`.

[2019-10-27 08:28] terenceng81 commented on #27
It seems okay for

Thank you for your reply syssi.

Yes, I own the device perhaps almost all xiaomi products.

I can provide you the remote access to my HA or you could let me know what I can help for the implementation/support?

[2019-10-27 08:31] syssi commented on #27
Let's talk about the new device support here: https://github.com/syssi/philipslight/issues/24

[2019-10-27 08:31] #27 closed

[2019-10-27 08:34] syssi commented on #24
@philips.light.zystrip Do you use the MiHome app with the philips.light.zystrip and do you have a rooted android device? I'm interested in the Mie Home app plugin of this device. Are you able to control the device if you use the bulb model at your configuration.yaml?

[2019-10-27 08:35] terenceng81 commented on #24
FYI, I am currently using "philips.light.bulb" for the Philips Cove light "philips.light.zystrip", it is working and having the "Google Home unable to add Unavailable issue" issue.

[2019-10-27 08:37] terenceng81 commented on #24
Yes, I am able to control "philips.light.zystrip" using bulb model.

Yes, I do have rooted Anroid simulator that i used to collect tokens from the database.

[2019-10-27 10:03] terenceng81 commented on #24
For unknown reason, all assigned lights (philips.light.bulb and philips.light.downlight) are gone in Google Home.. I seems "Model" is not the root caused.

[2019-10-27 10:29] syssi commented on #24
It doesn't sound like an issue of this costum component. Do you have additional devices /components in Google Home which are stable?

[2019-10-27 10:33] terenceng81 commented on #24
I have Yeelight products (strip, ceiling light, bulb, table lamb), they are stable.

Aqara products (Curtain, Aircon Controller, Power Plug)

Zhimi products (Pedestal Fan)

Xiaomi products (Vaccum robot, Sensor, Air Humidifier, Air Purifier)

All the above are ok except for the Xiaomi-Philips Downlight and Cove Light

[2019-10-27 13:02] syssi commented on #24
If you unplug and replug the Air Purifier, do you have the same issue?

[2019-10-27 13:12] terenceng81 commented on #24
U are right, the same issue happens. Air Purifier becomes a "new found" device after I refresh the main page of Google Home App..

It does not happen to the integrated "linked Services" like "Yeelight" or "Smart Things".

I've linked XiaoMi Service but only limited devices available and does not include XIaoMi-Philips downlight.

[2019-10-27 13:30] syssi commented on #24
The problematic devices are exposed by HA. The Yeelight and Smart Things devices are connected directly? May be this is a HA issue in general independent of the used HA component/integration?

[2019-10-27 13:41] terenceng81 commented on #24
You are right, I just tested other devices and experienced the same issue, so long they are exposed by HA will then encounter this issue.

The Yeelight and Smart Things devices are added to the Google Home App directly, Google called it "Linked Services", all these devices are not affected.

High chance this is a HA issue but I do not know how to escalate this case to official HA,

[2019-10-27 13:54] syssi commented on #24
Please open an issue at the official repository: https://github.com/home-assistant/home-assistant

[2019-10-27 14:15] terenceng81 commented on #24
Thanks syssi.

I have reported this case using the link given. Below is the case link.
https://github.com/home-assistant/home-assistant/issues/28268

BTW for your information, this issue does not happen to HA Cloud, maybe this is the only difference between Paid and Free service.

:-(

[2019-10-27 18:24] syssi commented on #24
The zystrip supports following methods:

[code]

And properties:

[code]

[2019-10-27 18:32] syssi commented on #24
@terenceng81 Could you provide the output of these commands:

[code]

In some cases it would be interesting, what's happening if you've called the command. Thanks in advance!

[2019-10-27 18:35] #15 closed

[2019-10-27 18:38] syssi commented on #24
Could you provide a link to a product page where I can see/buy the device we are talking about?

[2019-10-27 22:31] rezmus commented on #24
i think it's this one

https://aliexpress.com/item/32951674146.html

[2019-10-28 03:04] terenceng81 commented on #24
I got it from
https://www.xiaomiyoupin.com/detail?gid=104093

I've compared the link given with my link, yes they are the same product.

[2019-10-28 03:07] terenceng81 commented on #24
Hi syssi,

May I know how do i run this command?

ssh to my HA and entered the command below but does not work..
miiocli device --ip 192.168.8.152 --token 3bd3c23837071ab35xxxxxxxx info

core-ssh:~# miiocli device --ip 192.168.8.152 --token 3bd3c23837xxxx info
-bash: miiocli: command not found

[2019-10-28 05:07] syssi commented on #24
If you have another linux host just install python-miio by:

[code]

[2019-10-28 05:32] terenceng81 commented on #24
Only the first command is working, the reset having "Unknown command" errors.

Last login: Mon Oct 28 13:27:07 on ttys002
Terences-Macbook-Air:~ terenceng$
Terences-Macbook-Air:~ terenceng$ miiocli device --ip 192.168.8.113 --token 527daede17f1afe5de70a5cd40f7317e info
Hardware version: ESP8266
Firmware version: 1.2.8
Network: {'localIp': '192.168.8.113', 'mask': '255.255.255.0', 'gw': '192.168.8.

[2019-10-28 06:28] syssi commented on #24
I've fixed the command list. There was a parameter missing:

[code]

[2019-10-28 07:49] terenceng81 commented on #24
Everything is okay except for the Enable_AC_On and Enable_AC_Off

miiocli device --ip 192.168.8.113 --token 527daede17f1afe5de70a5cd40f7317e info
Model: philips.light.zystrip
Hardware version: ESP8266
Firmware version: 1.2.8
Network: {'localIp': '192.168.8.113', 'mask': '255.255.255.0', 'gw': '192.168.8.1'}
AP: {'rssi': -80, 'ssid': '13-19 HOME WIFI', 'bssid': 'C6:FB:E4:44:00:C4'}

miiocli device

[2019-11-09 00:46] liuv opened #28 "yeelink.light.lamp3"

[2019-11-12 13:24] elordan opened #29 "philips.light.cbulb"

[2019-11-12 13:39] syssi commented on #29
Could you try to add `model: philips.light.bulb` to your HA configuration. Does it work out of the box? Do you think this bulb has additional features compared to the `philips.light.bulb`?

[2019-11-12 22:41] malbul commented on #29
I have the same problem and adding `model: philips.light.bulb` works, but without any ability to change bulb color.

[2019-11-13 13:10] elordan commented on #29
After adding "model: philips.light.bulb", it works. But it doesn't have the option to change RGB color like malbul said.

[2019-11-13 23:39] syssi commented on #29
Supported properties:

[code]

Supported methods:

[code]

The property `cid` and the setter `set_cid` should be implemented to provide full device support.

[2019-11-26 21:42] maximalexanian opened #30 "philips.light.hbulb"
Works fine with model: philips.light.bulb
https://ru.aliexpress.com/item/32973869560.html

[2019-11-27 05:53] syssi commented on #30
Cool! The temperature slider should be removed for this model?

[2019-11-28 00:35] maximalexanian commented on #30
yep

[2019-12-04 07:54] jokerigno opened #31 "Add support to HACS"
HI,

I use this custom component for a year now and few days ago I started to notice that my bedside lamps are no longer availabe on HA.

Then I checked that you updated your amazing component and I was wondering: why don't you add support to HACS in order to make easier the update process?

Thank you in advance

[2019-12-04 08:30] syssi commented on #31
The progress & evolution of the Home Assistant community is just to fast for me. :-)

[2019-12-04 08:31] syssi commented on #31
I would happily provide HACS support.

[2019-12-04 15:32] johnskiller opened #32 "philips.light.rwread"
it's a new model of desk eye care lamp.

I just change the philips.light.mono1 to philips.light.rwread, it seems works well

[2019-12-04 16:03] johnskiller commented on #32
oops, scene always shows "0" and cannot be changed

[2019-12-04 16:16] syssi commented on #32
[code]

[2019-12-04 20:24] syssi commented on #30
Official supported methods:

[code]

And properties:
[code]

[2019-12-04 20:28] syssi commented on #30
Could you provide the output of:

[code]
Thanks!

[2019-12-04 20:29] syssi commented on #32
Could you provide the output of:

[code]

Thanks!

[2019-12-04 21:00] syssi commented on #30
https://github.com/rytilahti/python-miio/pull/587

[2019-12-05 00:59] johnskiller commented on #32
here's the output:

Running command raw_command
['off', 53, 0, 1, 0, 0, 2]

[2019-12-05 01:00] johnskiller commented on #32
do I need to add this to the light.py?

[2019-12-05 05:05] syssi commented on #32
No. This is just the command set the implemented the full featured device.

[2019-12-05 06:20] syssi commented on #32
Could you explain the follow me / follow me value feature?

[2019-12-05 08:20] johnskiller commented on #32
It has a motion/shock sensor and will turn on automatically when it detected motion/human activity. I'm not sure if it's follow me. I don't have english manual.

[2019-12-05 08:22] syssi commented on #32
So we could call the feature "motion detection" and "sensitivity of the motion detection". Could you provide a URL to a product detail page?

[2019-12-05 08:28] johnskiller commented on #32
I'll try to find an english product page. In MIJIA app, this function marked as experimental（实验室功能），named“延迟感应开灯”，can be turned on/off, and the value marked "延迟感应开灯灵敏度“

[2019-12-05 08:56] syssi commented on #32
https://github.com/rytilahti/python-miio/pull/589

[2019-12-05 09:18] syssi commented on #32
Could you provide the different sensitivity levels? `1` (Low), `2` (Medium) and `3` (High) is supported, right?

[2019-12-05 09:20] syssi commented on #32
What happens if you try to set `0` or `4`?

[code]

[2019-12-05 19:09] syssi commented on #26
[code]

[2019-12-06 03:05] johnskiller commented on #32
from the MIJIA app, the sensitivity level only have two value, high and low. I will try set other values using miiocli tonight.

[2019-12-06 03:14] johnskiller commented on #29
I have a cbulb too. As elordan and mabul said, when change model to philips.light.bulb, it works, can be turned on/off, change brightness, but cannot change rgb color.
@syssi do you need some more info to add support for cbulb?

[2019-12-06 03:46] johnskiller commented on #32
@syssi  I could not find any engligh product page. It's a MIJIA & Philips dual brand desk lamp maybe only for chinese market. Here's the chinese product page: https://item.mi.com/product/10332.html?cfrom=search&selected=1192900028&pClass=c    the offical name is "米家飞利浦读写台灯", so english name maybe mijia philips read write desk lamp?

[2019-12-06 05:45] syssi commented on #29
Cool! I will provide some commands later the week for testing.

[2019-12-06 12:43] johnskiller commented on #32
miiocli device --ip IP --token TOKEN raw_command enable_flm "[1]"
['ok']
miiocli device --ip IP --token TOKEN raw_command set_flmvalue "[0]"
Error: {'code': -5001, 'message': 'param error'}
miiocli device --ip IP --token TOKEN raw_command get_prop "['flm', 'flmv']"
[1, 2]

miiocli device --ip IP --token TOKEN raw_command enable_flm "[1]"
['ok']
miiocli device --ip IP --token TOKEN raw_command set_

[2019-12-06 12:51] johnskiller commented on #29
"get_prop", ["power", "snm", "sta", "bright", "cct", "cid"]
returns:
['on', 0, 100, 3953, -1, 0]

how to get all properties?

[2019-12-07 10:37] syssi commented on #32
Thanks!

[2019-12-07 11:22] syssi commented on #29
You've already retrieved all properties?!

Does the device support saturation? `cid` looks like a value between 0 and 360 (the hue part of HSV). If you set "color red" it's possible to add white color by moving the color picker more to the center to get a "light red"?

[2019-12-10 14:11] johnskiller commented on #29
No,cannot do that. There’re 4 icons in MIJIA app: on/off switch, color palette, brightness and color temperature. Color palette only changes hue, brightness only changes L or V of HSL/HSV, no way to change saturation. Color temperature only applies to white color

[2019-12-10 14:13] johnskiller commented on #29
I mean cannot do that in MIJIA app. Maybe raw command using miio_cli?

[2019-12-11 12:45] forhuan commented on #26
@syssi Outputs of these commands:
[code]

[2019-12-11 13:00] forhuan commented on #26
Treating bceiling2 as ceiling works ok

[2020-01-12 19:47] myshyak commented on #30
['off', 100, 0 ]
['off', 100, 0, 0 ]
Please advice how can I use your script in my hassio - for not it doe not support hbulb

[2020-01-22 00:09] malbul commented on #29
Any updates?

[2020-02-01 15:22] olvelasco opened #33 "yeelink.light.color3"
Unsupported device found! Please create an issue at https://github.com/syssi/philipslight/issues and provide the following data: yeelink.light.color3

[2020-02-26 07:00] djmalin opened #34 "Custom component doesn't start properly"
Hello @syssi i have Home Assistant 0.106.0b5 and this lamp Xiaomi Philips Smart LED Ball, so far everything works on version 105 so now the lamp stopped working and such an error appears

WARNING (MainThread) [homeassistant.loader] You are using a custom integration for xiaomi_miio_philipslight which has not been tested by Home Assistant. This component might cause stability problems, be sure to d

[2020-02-26 07:19] syssi commented on #34
This custom component needs some changes to be 0.106 compatible. Are you able to use the official component (xiaomi_miio). What's missing there?

[2020-02-26 07:50] djmalin commented on #34
ok, it works on the official version, I did not know that there is official support :), everything is needed

[2020-03-12 09:40] johnskiller commented on #29
sorry, I'm away from home for about 2 months.

[2020-03-29 15:56] Locodice67 opened #35 "Change max Brighness"
Hello,
How can i change the max brightness from my philips zhirui lamp?

I was i the parameter from light.py and i have found the brighness value (255), i want (245) because my lamp goes off when i make the lamp on full brightness.

Muss i change all the (255) values in (245)?

Thx a lot

[2020-03-31 07:35] #35 closed

[2020-03-31 07:35] Locodice67 commented on #35
sorry die lamp hatte nicht genugen strohm versorgung
mein fehler

[2020-07-05 15:36] alting opened #36 "uvfive.s_lamp.slmap2"
Please, add support for uvfive.s_lamp.slmap2

![H093725fd58884425a5178474163a37788 jpg_q50](https://user-images.githubusercontent.com/4904068/86536200-612c2b80-beee-11ea-8fc7-5bfb2bb6f6ca.jpg)

[2020-07-29 20:13] kuradi commented on #29
any updates here?

[2020-08-06 20:36] tkmark opened #37 "Xiaomi 3rd party (Dobest) new device ( WiFi LED driver and WiFi switch) support request"
**Device information:**

  - Name(s) of the device: Xiaomi 3rd party (Dobest) WiFi LED driver / WiFi switch  for MIIO
  - Link:  their officical site on the Internet couldn't be found, only few product sales on the alibaba platform, and I believe they provide their products to many light manufactures.

  - Model: lemesh.light.wy / leshi.switch.v002
  - Hardware version: unknown / v002
  - Firmware

[2020-08-06 20:59] syssi commented on #37
It's possible to turn the device on and off via python-miio / miiocli?

[2020-08-14 01:18] seafoodrice commented on #25
Seems this issue has been dragged on for long and no one able to proceed with more diagnosis and fixes. Anyone can help one this as this breaks the core feature to support this the device.

[2020-08-14 06:33] bazuchan commented on #25
I have same problem with xiaomi zhimi heater and it started after firmware update.

[2020-09-02 01:08] Stupco commented on #25
Same issue with 2x Philips Eyecare lamps, only happened since integrating with HA which is a shame as they are now useless for "dumb" operations (using buttons) which my wife prefers.

Would really like a fix!

Light Xiaomi firmware version: 1.2.8.0026

[2020-09-05 08:48] HepoH3 opened #38 "Add yeelink.light.color5 support"
Looking in server log I can see following message:

[2020-10-06 04:59] kooyeed commented on #34
I have the same problem, I have Home Assistant 0.116.0b4.

[2020-10-30 19:47] TomDeSchutter commented on #34
I just tried implementing this myself to control a new bulb; looks like I'm encountering the same problem.
Running HA 0.117.0. I'm clueless.

Configuration invalid

Platform error light.xiaomi_miio_philipslight - cannot import name 'ATTR_ENTITY_ID' from 'homeassistant.components.light' (/usr/src/homeassistant/homeassistant/components/light/__init__.py)

[2020-10-30 19:54] syssi commented on #34
I will care about. :-)

[2020-10-30 20:20] syssi commented on #31
Done.

[2020-10-30 20:21] syssi commented on #34
Fixed.

[2020-10-30 20:22] syssi commented on #38
Did you try the `yeelight` component instead?

[2020-10-30 20:23] syssi commented on #33
Did you try the `yeelight` component?

[2020-10-30 20:23] #31 closed

[2020-10-30 21:08] HepoH3 commented on #38
Yeah, sorry, I forgot to close this issue.
The problem was that Yeelight does not support new xiaomi bulbs in the official yeelight app. Because of this, I could not turn on the LAN mode on the light bulb. Fortunately, I found out about an unofficial app that can work with this light bulb.

[2020-10-30 21:08] #38 closed

[2020-10-30 22:24] TomDeSchutter commented on #34
As much as I admire the speed of your response, I'm afraid not.

Logger: homeassistant.components.light
Source: custom_components/xiaomi_miio_philipslight/light.py:175
Integration: Light (documentation, issues)
First occurred: 23:13:53 (1 occurrences)
Last logged: 23:13:53

Error while setting up xiaomi_miio_philipslight platform for light
Traceback (most recent call last):
  File "/usr/src/homeas

[2020-10-31 06:41] syssi commented on #34
@TomDeSchutter Which Home Assistant version do you use? Please try the most recent version (0.117.1).

[2020-10-31 07:01] syssi commented on #34
New HA versions respects the manifest.json and retrieves all requirements. In this case `python-miio`. This library provides the missing class. It looks like your HA instance doesn't provide this dependency.

[2020-11-01 12:05] jokerigno commented on #31
Hi,

I switched to last version via hacs and now lights are no longer avaialble.

This is the last working config:

[code]
and this is the new config:

[code]

At boot I only see this error:

Thank you

[2020-11-01 12:09] jokerigno commented on #31
@syssi I wrote here the issue because I think it's something related to HACS. If you prefer I can open a new one.

[2020-11-01 12:35] syssi commented on #31
@jokerigno I assume the entity id is already bound to the xiaomi_miio component. Could you check your entity list? I assume entitity has a new entity id if you use `xiaomi_miio_philipslight`.

[2020-11-01 14:15] jokerigno commented on #31
Oh well it was so easy! Thank you!

[2020-11-01 14:16] jokerigno commented on #22
Hi, it's still me. I noticed that when a scene is used (in my case midnight scene - scene = 6) the light in HA reports the last status (so a different light level and color) There's a way to fix it? TY again :)

[2020-11-01 15:09] syssi commented on #22
@jokerigno Could you enable the debug log (https://github.com/syssi/philipslight#debugging), turn the light on (no scene) and select scene 6, wait a few status updated and provide the complete log? Which "fake values" do you propose for brightness and color if scene=6 is selected?

[2020-11-01 15:24] syssi commented on #22
@jokerigno Off-topic: Could you provide the model no. of your device to improve this list of supported devices: https://github.com/syssi/philipslight#supported-devices

[2020-11-07 14:33] Sergey-SRG opened #39 "Add yeelink.light.lamp4 support"

[2020-11-07 14:38] Sergey-SRG commented on #29
@syssi

Hi, how can you get properties and methods for a new miio device?
Or is it like something from the firmware?

[2020-11-07 15:11] syssi commented on #29
It's extracted from the android app (mihome react native plugin).

[2020-11-07 16:05] syssi commented on #39
If you are able to enable the 3rd party app api via the yeelight app you could use the yeelight integration.

[2020-11-07 18:51] Sergey-SRG commented on #39
@syssi
Should we expect support for the miio protocol?

[2020-11-07 18:54] Sergey-SRG commented on #29
@syssi
Thanks for the tip, I don't use the app at all and forgot about it;)

[2020-11-07 19:44] syssi commented on #39
Yeelight devices can be controlled via miio. I don't know the exact details. I assume it's the same protocol but no token is required as soon the 3rd party app api is enabled.

[2020-11-07 19:54] syssi commented on #39
[code]

[2020-11-08 08:07] valna opened #40 "support for new device huayi.light.pis123"
Hi,
I have this light: huayi.light.pis123
I managed to recover the token from the Chinese server but can't add it to home assistant,
can this device be supported?
Thanks!

[2020-11-08 09:20] syssi commented on #40
HUAYI HUIZUO PISCES For Bedroom (huayi.light.pis123)

[2020-11-08 09:27] syssi commented on #37
Scene Color Light WIFI X (lemesh.light.wy)

[2020-11-08 09:29] syssi commented on #40
Specs: https://miot-spec.org/miot-spec-v2/instance?type=urn:miot-spec-v2:device:light:0000A001:huayi-pis123:1

[2020-11-08 09:33] syssi commented on #37
lemesh.light.wy specs: https://miot-spec.org/miot-spec-v2/instance?type=urn:miot-spec-v2:device:light:0000A001:lemesh-wy:1
leshi.switch.v002 specs: https://miot-spec.org/miot-spec-v2/instance?type=urn:miot-spec-v2:device:switch:0000A003:leshi-v002:1

[2020-11-08 09:38] syssi commented on #36
Specs: https://miot-spec.org/miot-spec-v2/instance?type=urn:miot-spec-v2:device:germicidal-lamp:0000A09E:uvfive-slmap2:1

Service: siid 1: (Device Information): 4 props, 0 actions
  * Property piid: 1 (Device Manufacturer): (string, unit: None) (acc: ['read'], value-list: [], value-range: None)
  * Property piid: 2 (Device Model): (string, unit: None) (acc: ['read'], value-list: [], value-range: N

[2020-11-08 09:40] syssi commented on #36
Can somebody provide a list or screenshots of the mihome app features? What is `radar-on`?

[2020-11-08 19:18] alting commented on #36
![photo_2020-11-08_22-17-19](https://user-images.githubusercontent.com/4904068/98482123-35101680-2210-11eb-92b9-2df2a31d70d2.jpg)
It's the just one screenshot of the mihome app. I'm don't know, what is radar-on

[2020-11-09 04:48] tkmark commented on #37
Hi Syssi,
   How should I use this for my HA? or you are currently working on this?

[2020-11-09 07:27] syssi commented on #37
I'm just collecting infos about the device. I will ping you if I need support.

[2020-12-01 14:12] jokerigno commented on #22
Hi.

Deeply sorry for the delay.

Below the full log from start:

2020-12-01 15:03:46 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for smartir which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant.
2020-12-01 15:03:46 WARNING (MainThread) [homeassistant.loader]

[2020-12-20 05:03] Mayomi opened #41 "Add philips.light.strip2 support"
https://www.xiaomiyoupin.com/detail?gid=133523

[2020-12-23 08:06] stevenchouis opened #42 "Unsupported device"

[2020-12-23 08:07] stevenchouis opened #43 "Unsupported device: yeelink.light.color5"

[2020-12-23 10:16] syssi commented on #42
Which one? :-)

[2020-12-23 10:17] syssi commented on #43
Did you try the yeelight integration with the 3rd party LAN api?

[2020-12-23 10:24] #42 closed

[2020-12-31 15:20] TeoTN opened #44 "Integration not available in HACS"
The integration is not available in HACS anymore. I've tried looking for the phrase "Xiaomi Philips Lights Integration" and a few similar ones and it's not found. It's not listed [here](https://hacs.xyz/docs/default_repositories) either. Could you please consider adding it to HACS? It's quite convenient.

[2021-01-02 20:40] SpeedFire0 opened #45 "Support for philips.light.sread2"
Thank you for the great plugin!
Please add support for the updated Philips EyeCare Lamp Gen2.
I tried to register it as a philips.light.sread1 but with no results.

[2021-01-06 20:49] SpeedFire0 commented on #45
So the fix  is quite easy. Just add the same pieces of code for "philips.light.sread2" as for "philips.light.sread1" into lights.py and it work pretty well.

[2021-01-06 21:12] #45 closed

[2021-01-06 21:34] syssi commented on #44
Requirements:

https://github.com/home-assistant/brands/pull/2143
https://github.com/home-assistant/wheels-custom-integrations/pull/228

Finally as soon the requirements are met:

https://github.com/hacs/default/pull/767

[2021-01-09 12:52] zhengbuxuan commented on #29
Hi @syssi , any updates for the .cbulb light?

[2021-01-13 07:08] SpeedFire0 commented on #25
I had the same issue after implementing this component. However all was fixed after I plugged out and plugged in the lamp into the power socket. Both hardware and software controls restored completely. You can try.

[2021-01-13 09:07] pniewiadowski commented on #25
That's work for some time and then happen again :/

[2021-01-13 12:46] Stupco commented on #25
Confirming this bug is still an issue.

[2021-01-18 18:51] syssi commented on #25
Please subscribe this issue too: https://github.com/rytilahti/python-miio/issues/617

[2021-01-18 18:52] syssi commented on #25
Does this issue apply to `philips.light.sread1` and `philips.light.sread2`?

[2021-01-18 18:55] SpeedFire0 commented on #25
philips.light.sread2 works absolutely fine, while physical buttons on philips.light.sread1 stop working after several days (then you need to re-plug it to the power socket)

[2021-01-27 06:37] chengrutw opened #46 "This plugin doesn't work any more after upgrading to 2021.5 Home Assistant Core"
Dears,

This plugin doesn't work any more after I upgraded Home Assistant Core to version 2021.5. Any one knows how to fix it?

[2021-01-27 06:40] syssi commented on #46
Could you provide your home-assistant.log? Are there any errors logged about this component?

[2021-01-27 06:42] chengrutw commented on #46
I'm happy to provide the log but I don't know where to extract it. Could you please enlighten me?

[2021-01-27 06:50] chengrutw commented on #46
This log is what I can find so far:
------
Logger: homeassistant.loader
Source: loader.py:465
First occurred: January 26, 2021, 9:04:23 PM (1 occurrences)
Last logged: January 26, 2021, 9:04:23 PM

You are using a custom integration for miio2 which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistan

[2021-01-27 06:50] syssi commented on #46
Next to your `configuration.yaml` you should find a `home-assistant.log`. This log should be accessible via the UI, too.

[2021-01-27 06:53] syssi commented on #46
This log message appears for every custom component. This is just a warning. It's about the custom component `miio2`. This custom component is called `xiaomi_miio_philipslight`.

[2021-01-27 07:33] chengrutw commented on #46
This is what I have in my Home-assistant.log

2021-01-27 14:54:09 WARNING (SyncWorker_0) [homeassistant.util.yaml.loader] YAML file /config/configuration.yaml contains duplicate key "sensor". Check lines 96 and 133
2021-01-27 14:54:09 WARNING (SyncWorker_0) [homeassistant.util.yaml.loader] YAML file /config/configuration.yaml contains duplicate key "light". Check lines 30 and 167
2021-01-27 14:54:

[2021-01-27 07:46] syssi commented on #46
It looks like your configuration is invalid. Please remove the second "light:" section:

[code]

[2021-01-27 08:56] chengrutw commented on #46
It's fixed. Thanks a lot!!

[2021-01-27 09:16] #46 closed

[2021-02-09 07:14] #44 closed

[2021-02-28 05:42] musenyua opened #47 "Unsupported device: philips.light.cbulb"
Unsupported device: philips.light.cbulb

[2021-03-16 11:01] zhengbuxuan commented on #47
Still waiting for solution~

[2021-03-17 02:14] laoyang945 commented on #25
I have the same issue with `philips.light.sread2`, but I cannot 100% reproduce it.

[2021-03-17 07:12] Hamper opened #48 "Add philips.light.sread3 support"
Mijia Philips Desk Lamp 3 (philips.light.sread3)
Don't work as philips.light.sread2

[2021-04-25 01:43] Art3mS1d commented on #29
Any progress?

[2021-05-03 23:19] st-pavel commented on #36
![photo_2021-05-04_02-18-20](https://user-images.githubusercontent.com/41471454/116944924-1a7a9f80-ac7f-11eb-9ec5-a344061edfe3.jpg)
![photo_2021-05-04_02-18-30](https://user-images.githubusercontent.com/41471454/116944928-1b133600-ac7f-11eb-8b2a-b370b376672a.jpg)
About radar-on info

[2021-07-13 18:19] xekil commented on #25
same problem, help please !

[2021-07-21 05:19] ClearSeve commented on #26
Has this been supported?

[2021-07-21 05:59] syssi commented on #26
Not yet.

[2021-07-21 06:03] forhuan commented on #26
Try this config may works
[code]

[2021-07-25 14:10] DARKFiB3R opened #49 "Device supported?"
Hi there,

Can you please let me know if this device is supported?

Thank you.

https://imgur.com/OuA6rrb
https://imgur.com/0ZQ8bKl
https://imgur.com/b4PHYs6
https://imgur.com/aR1NY5V
https://imgur.com/7AB4pXL
https://imgur.com/mEmG2TF
https://imgur.com/WMUneYE

[2021-08-06 05:19] pterodaktil02 opened #50 "Long status update philips.light.sread2"
When   i  change state  on  lamp manual (with control sensors on  lamp) it  update  status  in HA  for ~30 sec.
Problem  with  philips.light.sread2

[2021-08-06 06:15] syssi commented on #50
This component polls the device every 30 seconds (per default afaik). You could increase the `scan_interval` to update the state more often.

[2021-09-21 22:30] samoswall commented on #25
The same problem. Is there a way to fix it?
`philips.light.sread1`  Firmware version 2.1.3.0024 latest/

[2021-09-22 00:35] Stupco commented on #25
Yup, definitely still an issue. It's really pissing off my wife, basically the lamps are unusable as smart lamps, might need to just make them dumb lamps until this is fixed...

[2021-09-22 06:54] pniewiadowski commented on #25
I switch to this integration some time ago and it doens't have this issue, so here is my recomendation:
https://github.com/syssi/xiaomi_raw
Example switches.yaml configuration:
[code]

[2021-09-22 07:32] samoswall commented on #25
Configured **miio** integration.
![2021-09-22_10-26-42](https://user-images.githubusercontent.com/80251553/134301400-77fc9c11-ba6e-4ccf-bfa6-73b512ed640e.png)
I'm testing it (waiting for a few days).

[2021-09-23 15:37] misterymisery commented on #25
That is great. It is working few hours flawlessly for now where sometimes it started to fail after 2 hours! I can't wait if this still work tomorrow. Now how to fix it in offcial release?!

[2021-09-23 15:59] syssi commented on #25
Did you see the discussion here? https://github.com/rytilahti/python-miio/issues/617

As soon a working / proper / issue free set of properties is known this component can be fixed.

[2021-09-25 20:45] misterymisery commented on #25
@syssi yeap I seen it. Already responded there but not sure who owns this fix? Is it you?

[2021-10-01 10:02] neocaine commented on #47
Still waiting too

[2021-11-22 23:18] OrBin opened #51 "Unsupported device: yeelink.light.ceiling22"
I didn't really try the yeelight component since there's an [active alert](https://alerts.home-assistant.io/#yeelight.markdown) on it, and I actually want to access it using the [Xiaomi Miio](https://www.home-assistant.io/integrations/xiaomi_miio) integration in order to connect through Mi cloud rather than locally.

[2021-12-12 20:05] Onizyka opened #52 "philips.light.downlight don't work in core-2021.12.0"
hello, "model: philips.light.downlight" dont work in "core-2021.12.0"

[2021-12-12 20:27] rotrials opened #53 "philips.light.hbulb not working anymore supervisor-2021.12.1"
Hello,

I have 2 xiaomi philips bulbs, working for one and half year. Yesterday I have updated supervisor to version 2021.12.1 and the bulbs are not working anymore. I have tried to remove them from the Xiaomi Home in order to get a new token and still nothing. Also I have tried several restarts of HA...

[code]

[code]

Thanks

[2021-12-13 19:01] drafort opened #54 "philips.light.candle2: ERROR ON DEVICE UPDATE on HA Supervisor 2021.12.1"
current configuration:
- platform: xiaomi_miio_philipslight
  name: philips_light_kitchen
  host: 192....
  token: ....
  model: philips.light.candle2

Logger: homeassistant.components.light
Source: custom_components/xiaomi_miio_philipslight/light.py:552
Integration: Освещение (documentation, issues)
First occurred: 21:33:08 (1 occurrences)
Last logged: 21:33:08

xiaomi_miio_philipslight: Error on

[2021-12-14 11:48] vramich commented on #54
exact the same issue after update  :(

[2021-12-15 17:39] whitesabv commented on #54
У меня тоже самое.

[2021-12-15 23:52] DARKFiB3R opened #55 "Adding a second Xiaomi Philips Ceiling Light to Home Assistant"
Having a bit of trouble adding a second light.

If you could, please take a look here to see where I currently am with this issue.

https://github.com/rytilahti/python-miio/discussions/1257

Hope somebody can help.

Thanks.

[2021-12-16 18:06] witasekl commented on #53
Hi,
I've noticed the same problem. And I think it's caused by the fact, that I use a model philips.light.hbulb (which is almost the same as philips.light.bulb, but it does not support light color).
Someone will have to add a support for this model, which IMHO should be quite simple task. I want to try that, but I haven't found a time for that yet.
Meantime you can try to use a temporary "hack":
Ju

[2021-12-16 19:38] rotrials commented on #53
@witasekl
It's with the core version 2021.11.5 and with 2021.12.2 not.
Anyway, it seems that this repository is not maintained anymore.
My plan was to create a issue for this, to include the hbulb also. I will try your hack.
On your side it's working with 2021.12.2? or not? With or without the hack? Thanks

[2021-12-16 19:47] syssi commented on #53
Please don't expect updates/fixes as soon a new HA core version is released. Please contribute and help to improve this component!

[2021-12-16 19:50] rotrials commented on #53
@syssi  sure, sorry If I sound bossy. I only wanted you to take this into account. Unfortunately, I'm a hardware engineer and my software skills are limited otherwise I would come with the solution. Sorry for the off-topic.

[2021-12-16 19:50] syssi commented on #47
Duplicate #29.

[2021-12-16 19:50] #47 closed

[2021-12-16 19:51] syssi commented on #49
Sorry, I don't know any details about the device.

[2021-12-16 19:51] #49 closed

[2021-12-16 19:53] rotrials commented on #53
@witasekl  you are a genius your command works like a charm, after a couple of days digging into the code I finally made it. It works.

@syssi it seems that this is the solution. Thanks to @witasekl

For the people which are using docker, on my side the command was: sudo sed -i 's/state.color_temperature/0/' ./var/lib/docker/overlay2/a8913dcb6909c7715b498670bddb7e60e8f873c45f59000e0efa7a75a2026107

[2021-12-16 19:53] syssi commented on #53
Off-topic: As hardware engineer you should opt to this solution to get rid of the stock firmware: https://github.com/syssi/esphome-xiaomi-philips-light
;-)

[2021-12-16 19:59] rotrials commented on #53
Mannnn!!! Yesterday I wonder if there is anot5her way to control this kind of bulb. I did not know about this repository, thanks for the hint. I will have a look over it.  Best would be to make them work with zifbee2mqtt :))

[2021-12-16 20:06] syssi commented on #53
The issue should be fixed in HA core 2021.12 at the official `xiaomi_miio` component. If this component doesn't work out of the box (must be configured via config flow) please install this custom component and give it another try. This custom component must be added to the `configuration.yaml` (there is no config flow available!). I've prepared a new relase.

[2021-12-16 20:08] syssi commented on #54
Please update HA core to version 2021.12.2 and this custom component to version 1.4.6. This should fix the issue.

[2021-12-16 20:15] syssi commented on #55
I've responded at the discussion.

[2021-12-16 20:15] #55 closed

[2021-12-16 20:15] syssi commented on #52
Please update HA core to version 2021.12.2 and this custom component to version 1.4.6. This should fix the issue.

[2021-12-16 20:16] #50 closed

[2021-12-16 20:16] #34 closed

[2021-12-16 21:10] rotrials commented on #53
The issue is because 2021.12 ( until 2021.11.5 worked) I have tried to add it to configuration.yaml also, I have tried to delete it (entity and device), disable some addons which I assumed uses python-miio ...
If my understanding is correctly the solution is to add philips.light.**h**bulb for a part of us, for others the 2021.12.2 solved this issue...

[2021-12-16 21:22] syssi commented on #53
This is a workaround. In all cases the color temperature support of the device is omitted. Your device supports color temperature in general. Please update to 2021.12.2 and try the official component first. Please provide the errors from the log if it doesn't work. Next step is to use this custom component. Please provide possible errors too. Without any error logs of the most recent releases I ca

[2021-12-16 21:24] rotrials commented on #53
Logger: homeassistant.components.light
Source: components/xiaomi_miio/light.py:521
Integration: Light (documentation, issues)
First occurred: 1:42:26 AM (3 occurrences)
Last logged: 1:48:39 AM

xiaomi_miio: Error on device update!
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 431, in _async_add_entity
    await entity.async_device

[2021-12-16 21:35] syssi commented on #53
This is in both cases the official component right?

[2021-12-16 21:43] rotrials commented on #53
If by component you mean xiaomi_miio, then yes. I don't know how I can use un official one.
After I have updated to 2021.12.2, there were two error entries which grabbed by attention.

[2021-12-17 10:03] vtainc opened #57 "Xiaomi philips connected ceiling is not available"
Hello.

Trying to connect this devices, but something is wrong.

Philips connected ceiling
IP: 172.23.82.6

Token: ***********************

MAC: 34:CE:00:BC:A9:FE

Model: philips.light.ceiling

Region: cn

logging does't help:

2021-12-17 11:58:33 INFO (MainThread) [custom_components.xiaomi_miio_philipslight.light] Initializing with host 172.23.82.6 (token fce93...)
2021-12-17 11:58:34 DEBUG (Sync

[2021-12-18 09:25] jekakmail commented on #53
I've the same issue. After upgrade to 2021.12.1, 2021.12.2 and 2012.12.3, log got 2 errors. Rollback to 2021.11.5 solved problem

[2021-12-18 09:40] vramich commented on #54
@syssi thx, it works!

[2021-12-18 10:05] #54 closed

[2021-12-18 10:08] syssi commented on #57
What's the IP address of your Home Assistant host? I must be the same subnet a the lamp.

[2021-12-18 11:20] syssi commented on #53
I've made a fresh HA core installation (2021.12.3) and added a `philips.light.candle` via the xiaomi_miio integration. The device cannot be auto-discovered because it's not advertised at the network. I've used the IP address and token at the config flow without issues.

[2021-12-18 11:25] syssi commented on #53
Could everybody make sure HA core `2012.12.3` is in use and there are no `custom_components` in place which requires an outdated `python-miio` version? Please check all `manifest.json`s of the `custom_components` folder.

This is fine:

[code]

This would downgrade the python-miio version on HA startup:

[code]

[2021-12-18 17:47] vtainc commented on #57
The lamp is in another subnet, but homeassistant can ping it and vice versa. But yes, they are not one the same LAN.

[2021-12-18 19:00] syssi commented on #57
In this case the discovery of the device cannot work. The device firmware is unable to handle cross subnet traffic and you are unable to receive broadcasts probably.

[2021-12-18 19:01] #52 closed

[2021-12-18 19:04] vtainc commented on #57
OK, I understand

[2021-12-18 19:24] #57 closed

[2021-12-18 20:18] Benny2102 commented on #53
It works, thanks (HA OS - philips.light.bulb).

[2021-12-18 22:38] rotrials commented on #53
I updated to 2021.12.3 and I got the same error on the bulbs.
I made a search for "pythin-miio" under "component" and I found only this:

{
  "domain": "xiaomi_miio",
  "name": "Xiaomi Miio",
  "config_flow": true,
  "documentation": "https://www.home-assistant.io/integrations/xiaomi_miio",
  "requirements": ["construct==2.10.56", "micloud==0.4", "**python-miio==0.5.9.2**"],
  "codeowners": ["@ryt

[2021-12-18 23:04] rotrials commented on #53
1. I have changed the "python-miio>=0.5.6" to "python-miio>=0.5.9.2" for miio_yeelight
2. I keept ""requirements": ["construct==2.10.56", "micloud==0.4", "python-miio**==**0.5.9.2"]," from xiaomi_miio
3. I have reseted the light.py from /usr/src/homeassistant/homeassistant/components/xiaomi_miio/light.py to default value (no 0 isntead of state.color_temperature)

And the result is the same, my 2 b

[2021-12-18 23:10] rotrials commented on #53
Should I try to add the my bulbs to the configuration.yaml?

[2021-12-19 07:23] syssi commented on #53
Did you restart your HA after doing the changes? Could you SSH into the HA container and check the installated `python-miio` version? I can provide some instructions if needed.

[2021-12-19 07:34] rotrials commented on #53
Of course I have restarted. I have not found any python miio on my containers :(

[2021-12-19 07:47] syssi commented on #53
There is one for sure. ;-) Please SSH into the HA core container and search for `airconditioningcompanion.py`:

[code]

Please provide the hits. If there are none you are in the wrong container.

[2021-12-19 16:57] witasekl commented on #53
@rotrials could you please verify, what's your bulb model? Is it philips.light.bulb or philips.light.hbulb?
If it's philips.light.hbulb, I've tried to prepare a draft for supporting of this model: https://github.com/witasekl/core/commit/018545b3cf4fda342a6e06754ee9242280c853f7
This is not PR yet.  Please be lenient I'm not a Python developer. I would appreciate any feedback.
You can adopt this as

[2021-12-19 20:15] syssi commented on #53
This is a very good idea. The exact device model can be retrieved by:

[code]

[2021-12-19 20:40] rotrials commented on #53
I agree there should be a python-miio, otherwise it can work, but I was not able to find it...

/var/lib/private/hass/deps/lib/python3.9/site-packages/miio/airconditioningcompanion.py
/var/lib/docker/overlay2/34e6313e1a73b21aa389d5775be4f05f61a8e0061f06538d3c6700027011c990/merged/usr/local/lib/python3.9/site-packages/miio/airconditioningcompanion.py
/var/lib/docker/overlay2/dcb96f32e75c8d43136a440

[2021-12-19 20:46] rotrials commented on #53
Normally it's detected as a  philips.light.**h**bulb by the [XiaomiGatewat3](https://github.com/AlexxIT/XiaomiGateway3) integration. First of all, thanks a lot for the PR... Let me know what kind of feedback you need, or how can I help.

I will try to integrate your PR, but first I have to understand how. I think I can overwrite the the following file: homeassistant/components/xiaomi_miio/const.py

[2021-12-19 20:50] rotrials commented on #53
sorry, the miiocli is not working on the ssh. (-bash: miiocli: command not found) Am I doing something wrong?

My system is an Odroid H2 (Intel Celeron CPU) with arch linux. Running home assistant on a docker. Probably this should be specified in the first post.

[2021-12-19 22:33] syssi commented on #53
Let's continue here. ;-) @rotrials owns a `hbulb` which isn't supported right now. This device doesn't support color temperature so it's no surprise this feature is failing at the moment.

[2021-12-19 22:41] rotrials commented on #53
before it worked. Anyway, is it in plan to implement it? Thanks

[2021-12-20 08:21] #53 closed

[2021-12-20 08:22] syssi commented on #53
Please install this custom component. The hbulb is supported now.

[2021-12-20 17:17] syssi commented on #53
@rotrials Could you provide a photo or all details of the device type label? I would like to add some details about the device to the docs.

[2021-12-20 20:42] rotrials commented on #53
![20211220_223734_1](https://user-images.githubusercontent.com/5993868/146830182-4f1ac01c-140c-466f-9c36-3b12ed9b7bff.jpg)

[2021-12-20 21:06] syssi commented on #53
I've extended the README.

[2021-12-23 22:08] DARKFiB3R opened #59 "Ceiling Light server response time"
I'm in the UK, but I (have to?) use the China server for my ceiling light.

Some times it is very slow to respond, so much so, that Alexa anounces that it hasn't responded at all, but then it does  turn on/off afterwards anyway.

Is there anything I can do to improve the response time?

Thanks.

[2021-12-24 07:30] syssi commented on #59
1. If you don't use the Mi Home / yeelight app you could try to block the internet access for your cloud devices. If the connection gets dropped very early the device is a bit faster.
2. If you want to gain more speed: Flash the device with ESPHome / alternative firmware.  But keep in mind: The remote control isn't supported and you have to control your lamp via HA always.

[2021-12-24 17:14] DARKFiB3R commented on #59
How do I do option 1?

Is there a 3rd party remote I could use with esphome?

Is removing the PCB and replacing it with some sort of zigbee module an option?

Thanks for your advice. Have a nice Christmas.

[2021-12-25 08:01] syssi commented on #59
Option 1: Yes.

As soon the ESPHome node is connected to your HA instance you could use any supported remote. If you are looking for a standalone solution: I don't know.

I don't recommend to replace the WiFi controller by a ZigBee module. It's hard to replicate all features of the device (f.e. the night light mode).

[2021-12-25 08:02] syssi commented on #59
Merry Christmas! 🎄

[2021-12-31 15:57] DARKFiB3R commented on #59
So I gave the lights a static IP, and then blocked them.

The Xiaomi app says they are offline.

Unfortunately they are still intermittently slow to respond.

So... ESPHome. I don't see a repository for my ceiling light. Can you point me in the right direction?

Thanks.

[2021-12-31 16:06] syssi commented on #59
Which device do you own? Please use `miiocli device info` to retrieve the model identifier and may be some hint about the used `mcu`.

[2021-12-31 18:04] DARKFiB3R commented on #59
Which device do you own? Please use miiocli device info to retrieve the model identifier and may be some hint about the used mcu.

I've never used miiocli before, and not sure how.

I did use Xiaomi Cloud Tokens Extractor.

platform: xiaomi_miio_philipslight
model: philips.light.ceiling

[2022-01-01 10:28] syssi commented on #59
It's easier to use a linux host. Please boot some Ubuntu machine or SSH to some raspberry pi and use this command to install python-miio:

[code]

If `pip3` isn't available please install the missing package:

[code]

[2022-02-02 10:40] cherniavsky94w opened #60 "Error setup device"
Logger: homeassistant.components.light
Source: custom_components/xiaomi_miio_philipslight/light.py:556
Integration: Освітлення (documentation, issues)
First occurred: 12:22:53 (2 occurrences)
Last logged: 12:22:53

xiaomi_miio_philipslight: Error on device update!
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 431, in _async_add_en

[2022-02-24 04:53] sameersbn opened #61 "Question: How does it compare with `Xiaomi Miio`?"
I have a bunch of  `Philips Zhirui Downlight` lights at my home and I'm using the `Xiaomi Miio` which I think is present in HA by default. I am curious to know if using this integration has any benefits over the `Xiaomi Miio`

I am sorry if this has been answered before. Thanks!

[2022-02-24 05:51] syssi commented on #61
If your device is supported by the official Home Assistant Core integration called `xiaomi_miio` this custom component doesn't have any benefit for you!

[2022-02-24 05:51] #61 closed

[2022-08-03 17:38] mouth4war commented on #39
Yeelight removed lan support from this light.

[2022-10-02 18:09] clementx2006 commented on #32
wondering when this one can be added? thank you!